#login-container {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			flex-direction: column;
	-webkit-box-pack: center;
			justify-content: center;
	padding-bottom: 2rem;
	text-align: center;
  }
  #login-container h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
  }
  #login-container form {
	margin: auto;
  }
  
  form input[type="text"], form input[type="email"], form input[type="password"] {
	margin: .2rem;
	min-width: 300px;
	border: none;
	border-bottom: 2px solid #003459;
	background: rgba(0, 0, 0, 0);
	min-height: 40px;
	display: block;
	position: relative;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  form input[type="text"]:hover, form input[type="text"]:focus, form input[type="email"]:hover, form input[type="email"]:focus, form input[type="password"]:hover, form input[type="password"]:focus {
	border-bottom: 3px solid #007EA7;
  }
  
  #new-user {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			flex-direction: column;
	-webkit-box-pack: center;
			justify-content: center;
	text-align: center;
  }
  #new-user h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
  }
  #new-user form {
	margin: auto;
  }
  
  .btn {
	display: block;
	padding: .5rem 1.5rem;
	margin: .5rem auto;
	background: #003459;
	border: none;
	color: #fff;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	font-size: 1.35rem;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  .btn:hover {
	background: #007EA7;
	cursor: pointer;
  }

  /* About Page */
  
  #welcome-about h1 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
  }

  #welcome-about p {
      margin-bottom: 1rem;
  }

  #welcome-about ul {
      margin-bottom: 1rem;
  }

  #welcome-about li {
	list-style: none;
    margin-left: 2em;
    margin-bottom: .65rem;
}

#welcome-about li:before {
	content: '\f14b';
	margin-left: -1.5em;
	font-family: 'FontAwesome';
    float: left;
    color: #003459;
}