#memo-page-left h2, #memo-page-right h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

#memo-page-left .memo-entry, #memo-page-right .memo-entry {
    margin-bottom: 1rem;
    background-color: #f7f7f7;
    padding: .5rem;
    position: relative;
}

#memo-page-left .memo-entry:hover, #memo-page-right .memo-entry:hover {

}

#memo-page-left .memo-entry p, #memo-page-right .memo-entry p {
    line-height: 1.6;
}

#memo-page-left span, #memo-page-right span {
    font-weight: bold;
    display: inline-block;
    margin-bottom: .25rem;
    font-size: 1.3rem;
    text-decoration: underline;
}

#memo-page-left .memo-entry .memo-delete-btn, #memo-page-right .memo-entry .memo-delete-btn {
    display: none;
}

#memo-page-left .memo-entry:hover .memo-delete-btn, #memo-page-right .memo-entry:hover .memo-delete-btn {
    text-decoration: none;
    color: #f7f7f7;
    background: #003459;
    padding: 4px 6px;
    font-size: 1rem;
    bottom: 5px;
    right: 5px;
    display: inline-block;
    position: absolute;
}

#memo-page-left .memo-entry:hover .memo-delete-btn:hover, #memo-page-right .memo-entry:hover .memo-delete-btn:hover {
    cursor: pointer;
    background: #007EA7;
}