#month-page-left h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

#month-page-left ul {
    height: calc(100% - 3rem);
}

#month-page-left ul li {
    transition: all .2s ease-in-out;
    position: relative;
}

#month-page-left ul li:hover {
    background: #f7f7f7;
}

#month-page-left span.add-event-dayline {
    margin-right: .5rem;
}

#month-page-left span.date {
    width: 70px;
    display: inline-block;
    border-right: 1px solid #cecece;
}

#month-page-left i {
    color: #003459;
    transition: all .2s ease-in-out;
}

#month-page-left i:hover {
    cursor: pointer;
    color: #007EA7;
}

#month-page-right form {
    margin: auto;
    text-align: center;
}

#month-page-right form > * {
    margin-left: auto;
    margin-right: auto;
}

#month-page-right h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

#month-page-right form td {
    padding-bottom: 1rem;
}

#month-page-left .daily-content-container {
    display: inline-block;
    width: 80%;
    position: absolute;
    overflow: hidden;
    height: 100%;
}

#month-page-left .daily-content-container span.event-item {
    display: inline-block;
    height: 100%;
}

#month-page-left .see-more {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-65%);
    font-size: 1rem;
    display: none;
    padding: 2px 4px;
    background: #003459;
    color: #f7f7f7;
    transition: all .2s ease-in-out;
}

#month-page-left li:hover .see-more {
    display: inline-block;
}

#month-page-left li:hover .see-more:hover {
    cursor: pointer;
    background: #007EA7;
}

#month-page-left #month-page-right {
    position: relative;
}

#week-page-left #edit-event-container, #week-page-right #edit-event-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#week-page-left #edit-event-container h2, #week-page-right #edit-event-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#week-page-left #edit-event-container label, #week-page-right #edit-event-container label {
    font-size: 1.5rem;
}