#week-page-left .header-l, #week-page-right .header-r {
    display: flex;
    justify-content: space-around;
}

#week-page-left .header-l h2, #week-page-right .header-r h2 {
    font-size: 1.35rem;
    text-decoration: underline;
    padding-top: .25rem;
}

#week-page-left .day-cell, #week-page-right .day-cell {
    margin-bottom: 1rem;
    height: calc((100% / 4) - 1% -1.6rem);
    border-bottom: 1px solid #cecece;
}

#week-page-left > :last-child, #week-page-right > :last-child {
    border: none;
}

#week-page-left .day-cell h3, #week-page-right .day-cell h3 {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}

#week-page-left .day-inner-container, #week-page-right .day-inner-container {
    display: flex;
}

#week-page-left .event-cell, #week-page-left .task-cell, #week-page-right .event-cell, #week-page-right .task-cell {
    margin-top: .5rem;
    padding-left: 1rem;
    padding-right: .25rem;
    min-height: 147px;
}

#week-page-left .event-cell, #week-page-right .event-cell {
    flex-basis: 50%;
    border-right: 1px solid #cecece;
}

#week-page-left .task-cell, #week-page-right .task-cell {
    flex-basis: 50%;
}

#week-page-left .day-cell, #week-age-right .day-cell {
    position: relative;
}

#week-page-left .task-cell, #week-page-right .task-cell, #week-page-left .event-cell, #week-page-right .event-cell {
    position: relative;
}

#week-page-left .task-cell:hover, #week-page-right .task-cell:hover, #week-page-left .event-cell:hover, #week-page-right .event-cell:hover {
    background: #f7f7f7;
}

#week-page-left .task-cell .add-btn, #week-page-right .task-cell .add-btn, #week-page-left .event-cell .add-btn, #week-page-right .event-cell .add-btn {
    position: absolute;
    display: none;
    right: 5px;
    bottom: 5px;
}

#week-page-left .task-cell:hover .add-btn, #week-page-right .task-cell:hover .add-btn, #week-page-left .event-cell:hover .add-btn, #week-page-right .event-cell:hover .add-btn {
    display: block;
}

.add-btn i {
    color: #003459;
    transition: all .2s ease-in-out;
}

.add-btn i:hover {
    color: #007EA7;
    cursor: pointer;
}

/* center forms */
#week-page-left, #week-page-right {
    position: relative;
}

#week-page-left #new-task-container h2, #week-page-left #new-event-container h2, #week-page-right #new-task-container h2, #week-page-right #new-event-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#week-page-left #new-task-container, #week-page-left #new-event-container, #week-page-right #new-task-container, #week-page-right #new-event-container {
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	position: absolute;
}
<<<<<<< HEAD
=======

#week-page-right {
    position: relative;
}

#week-page-right #edit-event-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
>>>>>>> a64ad2180ce9c830492a7caff31a7c01bf4eae4f
