.header-l, .header-r {
    display: flex;
    justify-content: space-around;
}

.header-l h2, .header-r h2 {
    font-size: 1.35rem;
    text-decoration: underline;
    padding-top: .25rem;
}

#week-page-left .day-cell, #week-page-right .day-cell {
    margin-bottom: 1rem;
    height: calc((100% / 4) - 1% -1.6rem);
    border-bottom: 1px solid #cecece;
}

#week-page-left > :last-child, #week-page-right > :last-child {
    border: none;
}

#week-page-left .day-cell h3, #week-page-right .day-cell h3 {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}

#week-page-left .day-inner-container, #week-page-right .day-inner-container {
    display: flex;
}

.event-cell, .task-cell {
    margin-top: .5rem;
    padding-left: .25rem;
    padding-right: .25rem;
    min-height: 147px;
}

#week-page-left .event-cell, #week-page-right .event-cell {
    flex-basis: 50%;
    border-right: 1px solid #cecece;
}

#week-page-left .task-cell, #week-page-right .task-cell {
    flex-basis: 50%;
}
