#year-page-left > .month-cell, #year-page-right > .month-cell {
    height: calc((100% / 6) - .75%);
    margin-bottom: 1%;
    border-bottom: 1px solid #cecece;
  }
  #year-page-left > :last-child, #year-page-right > :last-child {
    border: none;
  }

  #year-page-left .month-cell, #year-page-right .month-cell {
    overflow-y: auto;
    overflow: hidden;
    position: relative;
  }

  #year-page-left .month-cell .add-to-month, #year-page-right .month-cell .add-to-month {
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: none;
  }

  #year-page-left .month-cell:hover, #year-page-right .month-cell:hover {
    background: #f7f7f7;
  }

  #year-page-left .month-cell:hover .add-to-month, #year-page-right .month-cell:hover .add-to-month {
    display: block;
  }

  #year-page-left .month-cell:hover, #year-page-right .month-cell:hover {
    overflow-y: auto;
  }

  #year-page-left h3, #year-page-right h3 {
    font-size: 1.4rem;
    font-weight: 700;
  }

  #year-page-left .month-cell-list, #year-page-right .month-cell-list {
    /* background: orange; */
    width: 100%;
    column-count: 2;
  }

  #year-page-right {
    position: relative;
  }

  #year-page-right #edit-event-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #year-page-right #edit-event-container h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  #year-page-right #edit-event-container label {
    font-size: 1.5rem;
  } 