#year-page-left > *, #year-page-right > * {
    height: calc((100% / 6) - 1%);
    margin-bottom: 1%;
    border-bottom: 1px solid #cecece;
  }
  #year-page-left > :last-child, #year-page-right > :last-child {
    border: none;
  }

  #year-page-left .month-cell, #year-page-right .month-cell {
    overflow-y: auto;
    overflow: hidden;
  }

  #year-page-left .month-cell:hover, #year-page-right .month-cell:hover {
    overflow-y: auto;
  }

  #year-page-left h3, #year-page-right h3 {
    font-size: 1.4rem;
    font-weight: 700;
  }